/*COMMON*/
.hidden{
	display: none;
}
div{
	border: solid thin;
}
/*p, span, div,li,a{
	color:white;
}
button{
	color:black;
}*/
/* HIGHLEVEL */
body {
	position: absolute;
	width: 100%;
	height: 100%;
}
#topContainer{
	position: relative;
	width: 100%;
	height: 100%;
}
#AppROOT{
	/*display:flex;*/
	/*flex-direction: column;*/
	width: 100%;
	height: 100%;
}
/* PLAYBOARD */
.playBoard{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	/*background-image: url('../images/tapis_kevin.png');*/
	/*background-size: cover;*/
	/*background-position: cover;*/
}
.playBoardContainer{
	display:flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	
}
.playBoardContainer >*{
	flex:1;
}
.youInviteThem{
	position: absolute;
	z-index: 10;
	bottom: 0;
	left: 0;
	/*flex:1;*/

}
/* CARDS */
.mySpace{
	display:flex;
	padding-right: 10%;
	padding-left: 10%;
}
.card{
}
.cardToBePlayed{
	flex:1;
	max-width: 10%;
	align-content: center;
}
/*OTHER*/
.theyInviteYou{
	/*flex:1;*/
	position: absolute;
	z-index: 100;
	bottom: 0;
	right:0;
}
.startGame{
	position: absolute;
	z-index:1000;
}
.leaveRoom{
	position: absolute;
	top: 0;
	right:0;
	z-index:1000;
}
.card{
/*	width:6%;
	height:6%;*/
}